<nav class="navbar sticky-top navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Reddit Clone</a>
        <a href="/posts/new" class="btn btn-primary navbar-btn">New Post</a>
      </div>
    </nav>
